div#settings-area {
  border: 1px solid black;
  display: flex;
  width: 64rem;
  height: 33rem;
  margin-top: 6rem;
  justify-content: space-between;
  div.pad-settings {
    border: 1px solid black;
    flex-grow: 2;
    div.selector-container {
      border: 1px solid grey;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      div.sound-name {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
