div#pad-controls {

  border: 1px solid black;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 44rem;

  div.pad-container {

    // border: 1px solid black;
    width: 16rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8rem;

    button.pad {
      background: radial-gradient(circle, rgb(36, 41, 50), rgb(96, 101, 110));
      box-shadow: 0;
      width: 8rem;
      height: 8rem;
      &.playing {
        border: 2px solid green;
      }
    }

    button.stop-button {
      background-image: url('../static/images/stop-icon.png');
      background-size: contain;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      border: 1px solid red;
      align-self: flex-end;
      &.disabled {
        opacity: 0.5;
      }
    }
  }


}
